/* Red #a94442 */


/* Global Styles */
section {
    width: 65%;
    max-width: 900px;
    margin: 2% auto 0 auto;
}

img {
    max-width: 100%;
    min-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
    text-align: center;
}

aside {
    width: 33%;
    float: left;
    text-align: center;
    font-size: 1vw;
    color: white;
}

h3 {
    text-decoration: underline;
}

/* Aside Global Styles */

aside img {
    min-width: 5%;
}

.smlogo {
    width: 50%;
    margin: 0 auto 0 auto;
}

aside p + p {
    text-indent: 1.5em;
}

aside {
    width: 33%;
    float: left;
    text-align: center;
    font-size: 1vw;
    color: white;
}

/* Header Styles */

#header {
    background-color: #ffffff;  /* White */
    color: #000000; /* Black */
    text-align: center;
}


#headerlogo{
    width:12%;
    margin: 1% auto 0 auto;
}

#header {
    font-size: 1.5vw;
}

/* Header Navbar Styles */
#navbar {
    text-align: center;
    background: #a94442;
    font-size: 0;
}


#navbar a{
    padding: 15px 2%;
    color: white;
    font-size: 20px;
    text-decoration: none;
    display: inline-block; 
     
}

#navbar a:hover {
    background-color: #ebb0b0;
    color: #a94442;
    text-decoration: none;
}

/*Section Business Styles */
#business{
    border: 5px solid black;  
    position: relative;
    overflow:auto;
}

#tabs {
    background-color: #a94442;
    width: 65%;
    float:left;
  
}

.tabcontent {
    display: none;
}

.tablinks {
    float: left;
    width: 33.33%;
    height: 50%;   
}

.tablinks:hover{
    outline-color: #a94442;
    opacity: .5;
}

#infobox{
    float: right;
    width: 35%;
    font-size: 1.25vw;
    padding: 10px;
}


.tablinks:focus{
    border: solid 5px red;
    opacity: .7;
    
}

.tablinks.img{
    text-align: center;
}

#infobox h2 {
    text-align: center;
    width: 100%;
    margin: auto;
}

#infobox p{
    text-align: center;
    padding:2px;
}

#infobox .buttons{
    display: block;
    margin:  auto;
    width: 80%;
    font-size: 1vw;
    border: solid 2px red;
}

/* Section Logos Styles */
#logos {
    margin: 2% auto 0 auto;
    border: solid 2px black;
}

/* Footer Section */
.content {
    text-align: left;
    
}

.content p{
    margin-left: 22%;
    margin-bottom: 0;
    margin-top: 0;
}

.material-icons {
    font-size: 1.3vw;
}

footer {
    background-color: #a94442;
    padding: 2%;
    margin-bottom: 20%;
}

footer a{
    width: 13.3%;
    color: white;
    font-size: 1vw;
    text-decoration: none;
    display: inline-block; 
}

.nav{
    text-align: center;
    clear: both;
    padding-top: 2%;
    margin-left: auto;
    margin-right: auto;
    
}

