/* Red #a94442 */


/* Global Styles */
body {
    font-family: 'Monda' , sans-serif;
}
section {
    width: 65%;
    max-width: 900px;
    margin: 2% auto 0 auto;
    font-size: 1vw;
}

section h1, h2 {
    text-align: center;
}

img {
    max-width: 100%;
    min-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
    text-align: center;
}

aside {
    width: 33%;
    float: left;
    text-align: center;
    font-size: 1vw;
    color: white;
}

h3 {
    text-decoration: underline;
}

/* Aside Global Styles */

aside img {
    min-width: 5%;
}

.smlogo {
    width: 50%;
    margin: 0 auto 0 auto;
}

aside p + p {
    text-indent: 1.5em;
}

aside {
    width: 33%;
    float: left;
    text-align: center;
    font-size: 1vw;
    color: white;
}

/* Header Styles */

#header {
    background-color: #ffffff;  /* White */
    color: #000000; /* Black */
    text-align: center;
}

#header h1,p {
    margin: 0;
}

#headerlogo{
    width:12%;
    margin: 1% auto 0 auto;
}

#header {
    font-size: 1.5vw;
}

/* Header Navbar Styles */
#navbar {
    text-align: center;
    background: #a94442;
    font-size: 0;
    margin-top: 2%;
}


#navbar a{
    padding: 15px 2%;
    color: white;
    font-size: 20px;
    text-decoration: none;
    display: inline-block; 
     
}

#navbar a:hover {
    background-color: #ebb0b0;
    color: #a94442;
    text-decoration: none;
}

/*Section Business Styles */
#business{
     
    position: relative;
    overflow:hidden;
    background-color: #f5f3f3;
}

#tabs {
    background-color: #a94442;
    width: 65%;
    float:left;
  
}

.tabcontent {
    display: none;
}

.tabcontent:first-child {
    display: block;
}

.tablinks {
    float: left;
    width: 33.33%;
    height: 50%;   
}

.tablinks:hover{
    outline-color: #a94442;
    opacity: .5;
}

#infobox{
    float: right;
    width: 35%;
    padding: 10px;
}


.tablinks:focus{
    border: solid 5px #b4b2b2;
    opacity: .7;
    
}

.tablinks.img{
    text-align: center;
}

#infobox h2 {
    text-align: center;
    width: 100%;
    margin: auto;
}

#infobox p{
    text-align: center;
    padding:2px;
}

#infobox .buttons{
    display: block;
    margin:  auto;
    width: 80%;
    border: solid 2px red;
}

/* Section Logos Styles */
#logos {
    margin: 2% auto 0 auto;
    border: solid 2px black;
}

/* Footer Section */
.content {
    text-align: left;
}

.content p {
    margin-left: auto;
    margin-right: auto;
    width: 20em;
}


.material-icons {
    font-size: 1.3vw;
}

footer {
    background-color: #a94442;
    padding: 2%;
    margin-bottom: 20%;
    font-size: 1vh;
}

footer a{
    width: 13.3%;
    color: white;
    text-decoration: none;
    display: inline-block; 
}

.nav{
    text-align: center;
    clear: both;
    padding-top: 2%;
    margin-left: auto;
    margin-right: auto;
    
}

.tabheader {
    background-color: #a94442;
    color: white;
}

.sectioncontent{
    overflow: hidden;
    text-align:center;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
 
}

ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.sectioncontent ul a{
    display:block;
    text-decoration: none;
    color: black;
    background-color: #f5f3f3;
}

.sectioncontent li{
    float:left;
    width: 25%;
    overflow: hidden;
    display:block;
    color: black;
    text-decoration: none;
    margin-top: 2%;
    padding: 1%;
    
}

.sectioncontent li:nth-child(4n+1){
    clear: left;
}


.sectioncontent ul a:hover{
    background-color: #a94442;
}


@media only screen and (max-width: 900px){
    section {
        width:100%;
        font-size: 2vw;
    }
    .sectioncontent li {
        width: 25%;
    }

    .sectioncontent {
        margin: 0;
    }

}

/* Forms */

form p {
    display: table-row;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;  
}

input, textarea {
    border: 2px solid #ccc;
    border-radius: 4px;
}

label {
    display:block;
}

.method label {
    display: inline;
}

input[type="text"], input[type="tel"], input[type="email"] {
    width: 40%;
    margin: .2em auto .8em auto;
}

#contactus {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}

.contact {
    background-color: #f5f3f3;
}

textarea {
    width: 100%;
    resize: none;
    height: 10em;

}

@media (min-width: 35em)
{
    label {
        width: 10em;
        display:inline-block;
    }

}